:root {
  /* https://coolors.co/00adb5-eeeeee-1b262c-27373f-ffb000-39ff14 */

  /* =========================================
       LEVEL 1: PALETTE (The Colors)
       ========================================= */
  /* Primary Color */
  --c-tropical-teal: #00adb5;
  /* Secondary Color */
  --c-platinum: #eeeeee;
  /* Accent Color */
  --c-amber-flame: #ffb000;
  --c-golden-polen: #ffcb5c;
  /* Background Color */
  --c-jet-black: #1b262c;
  /* Surface Color */
  --c-slate-black: #27373f;
  /* Success Color */
  --c-laser-green: #39ff14;
  --c-green: #2e7d32;

  --c-pure-white: #ffffff;
  --c-absolute-black: #000000;

  /* =============================================================
       LEVEL 2: CATEGORIES (Where they go)
       ============================================================= */

  /* 1. PRIMARY COLOR (Branding e Identity) */
  --primary-color: var(--c-tropical-teal);
  --header-bg: var(--primary-color);
  --footer-bg: var(--primary-color);

  /* 2. ADDITIONAL COLORS (Secondary & Accent) */
  /* --secondary-color: var(--c-platinum); */
  /* --accent-color: var(--c-amber-flame); */
  --border-color: var(--c-tropical-teal);
  --border-color-secondary: var(--c-amber-flame);
  --bg-button: var(--c-tropical-teal);
  --text-button: var(--c-jet-black);

  /* 3. BACKGROUND COLORS (Containers e Sections) */
  --bg-page: var(--c-slate-black);
  --bg-card: var(--c-jet-black);
  /* ==>>>> pensar melhor na cor depois <<<=== */
  --bg-card-title: var(--c-absolute-black);
  /* ==>>>> pensar melhor na cor depois <<<=== */
  /* --bg-nav: var(--c-amber-flame); */

  /* 4. TYPEFACE COLORS (Typography) */
  --text-primary: var(--c-platinum);
  --text-heading-dark: var(--c-jet-black);
  --text-heading-light: var(--c-tropical-teal);
  --text-heading-lighter: var(--c-platinum);
  /* --text-on-dark: var(--c-pure-white); */

  /* 2. NAVIGATION */
  --nav-bg: var(--c-golden-polen);
  --nav-text: var(--c-jet-black);
  --nav-hover: var(--c-amber-flame);
  --nav-active: var(--c-white);

  /* 5. CHECK LIST
       ----------------
        TYPES:
            checkpoint - normal check list item, default = ex: APU .... START
            info - sub-items on checkpoint (treat like checkpoint for now)
            subtitle - subtitle = ex: Passing TA
            sim-action - sepcial title to grabb attention on think to do on the aircraft, like 777 = (PREFILHT CHECKLIST)
            atc - treat like checkpoint for now. 
    */
  /* type: checkpoint */
  --cl-checkpoint: var(--c-pure-white);
  /* type: info */
  /* ==>>>> pensar melhor na cor depois <<<=== */
  --cl-info: #b8b8b8;
  /* ==>>>> será que posso usar o heading aqui? tipo um h3? <<<=== */
  /* type: subtitle */
  --cl-subtitle: var(--c-amber-flame);
  /* type: sim-action */
  --cl-sim-action: #00c2cc;
  /* var(--c-pure-white); */
  /* type: ATC */
  --cl-atc: var(--c-amber-flame);

  /* completed for type: checkpoint, info, sim-actio, atc */
  --cl-success: var(--c-laser-green);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-page);
  /* fix the page audit color contrast ratios issue */
  color: #ffffff;
}

h1,
h2,
h3 {
  font-family: 'Kode Mono', Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
main,
nav,
footer {
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
}

/**************** SITE ****************/

.cardTitle {
  display: flex;
  align-items: center;
  background-color: var(--bg-card-title);
  color: var(--text-heading-light);
  height: 34px;
  padding-left: 10px;
  /* font-size: 1.25rem; */
  font-size: 1rem;
  margin: 0;
}

.cards {
  padding: 10px;
  background-color: var(--bg-card);
  flex-grow: 1;
}

/* ---- Buttons ----  */
.buttons {
  color: var(--c-absolute-black);
  background-color: var(--bg-button);
  height: 44px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
}
.buttons:hover {
  filter: saturate(50%);
}
.buttonsRounded {
  border-radius: 8px;
}

/**************** HEADER ****************/
header {
  /* padding: 0 10px; */
  display: grid;
  grid-template-columns: 60px auto 44px;
  align-items: center;
  background-color: var(--header-bg);
  border-bottom: 2px solid var(--border-color-secondary);
  color: var(--text-heading-dark);

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px 0 5px 10px;
  }

  span {
    font-family: 'Kode Mono', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: var(--text-heading-dark);
    font-weight: bold;
    margin: 5px 0 5px 15px;
  }
}

/**************** HAMBURGER ****************/
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  height: 44px;
  padding-right: 0;
  margin-right: 10px;
  padding-bottom: 8px;

  &.show {
    padding-bottom: 5px;

    &::before {
      content: '\00D7';
    }
  }

  &::before {
    content: '\2630';
    font-size: 2rem;
    color: var(--text-heading-dark);
  }
}

/**************** NAVIGATION ****************/
.navigation {
  display: none;
  font-family: sans-serif;
  background-color: var(--nav-bg);
  border-top: 1px solid var(--border-color-secondary);
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;

  &.show {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    padding: 0.8rem 10px;
    text-decoration: none;
    text-align: right;
    color: var(--text-button);
  }
}

li.current a {
  color: var(--nav-active);
  font-weight: bold;

  &::before {
    font-family: 'Material Symbols Outlined';
    font-size: 15px;
    color: var(--c-green);
    content: '\e539';
    margin-right: 2px;
    vertical-align: -2px;
  }
}

/**************** FOOTER ****************/
footer {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--footer-bg);
  border-top: 2px solid var(--border-color-secondary);
  font-size: 1.1rem;
  color: var(--c-absolute-black);

  .footer-info,
  .footer-date {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .social {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0px;
    flex: 1;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--c-jet-black);
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }

    img {
      width: 42px;
      height: 42px;
    }
  }
}

/*=========================================
    Home.HTML
=========================================== */

/**************** MAIN ****************/

.home-page {
  h1 {
    margin: 10px;
    color: var(--text-heading-lighter);
  }

  .hero {
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  .cta {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    width: 16%;
    min-width: 150px;
  }

  .welcomeLastflight {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    color: #ffffff;

    p {
      margin: 10px 0;
      color: var(--text-primary);
    }
  }

  .welcomeSection,
  .lastflightSection {
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }

  .lastflightSection {
    .lastflightDiv {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 2fr;

      .lastflightAircraft {
        p {
          font-weight: bold;
          margin: 0;
          line-height: 24px;
        }

        span {
          font-weight: normal;
        }
      }
    }
  }

  .choose {
    margin: 10px;
  }

  .chooseDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .buttons {
      display: flex;
      font-family: Doto, Arial, Helvetica, sans-serif;
      min-width: 100px;
      align-items: center;
      justify-content: center;

      p {
        font-family: Doto, Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
      }
    }
  }
}

/*=========================================
    Checklist.HTML
=========================================== */

/**************** MAIN ****************/

.checklist-page {
  h1 {
    margin: 10px;
    color: var(--text-heading-lighter);
  }

  h2 {
    margin: 10px;
    color: var(--text-heading-lighter);
    text-align: center;
  }

  & > label {
    margin-left: 10px;
  }

  #select-aircraft {
    width: 220px;
    text-align: left;
    border: 0;
    border-right-width: 0;
    font-family: sans-serif;
    font-weight: bold;
  }

  .chekclistMainDiv {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 10px; */
  }

  .categorySection {
    display: flex;
    flex-direction: column;
  }

  .resetAll {
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    min-width: 250px;
    width: 90%;
    max-width: 350px;
    margin: 10px 10px 0px 10px;
    align-self: center;
  }

  .categoryTitleDiv {
    display: grid;
    grid-template-columns: 1fr 24px;
    padding: 0 10px;
    cursor: pointer;
    margin-top: 10px;

    h3 {
      padding: 0;
    }
  }

  /* ---- BUTTON Up/Down ---- */
  .categoryButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 0;
    color: var(--text-primary);
    font-size: 1.7rem;

    &::before {
      font-family: 'Material Symbols Outlined';
      content: '\e313';
    }

    &.show::before {
      content: '\e316';
    }
  }

  .checklistDiv {
    display: none;
    padding: 10px;

    &.show {
      display: block;
    }

    /*============= CHECKLIST ITEMS ============= */

    .checklistItem {
      height: 44px;
      display: grid;
      grid-template-columns: 14px 1fr;
      cursor: pointer;
      align-items: center;

      &.type-subtitle {
        grid-template-columns: 1fr;
      }

      .check {
        border: 1px solid var(--cl-checkpoint);
        width: 10px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;

        .checkIcon {
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          display: none;
          align-items: center;
          justify-content: center;
          height: 4px;
          width: 4px;
          color: var(--cl-success);
          background-color: var(--cl-success);

          &.checked {
            display: flex;
          }
        }
      }

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Doto, Arial, Helvetica, sans-serif;
        color: var(--cl-checkpoint);
        font-size: 0.9rem;
        font-weight: 600;

        &.checked {
          color: var(--cl-success);
        }

        .action {
          text-align: left;
        }

        &.type-subtitle {
          justify-content: center;
          color: var(--cl-subtitle);
          font-weight: 600;
          cursor: default;
        }

        &.type-atc {
          color: var(--cl-atc);
        }

        &.type-sim-action {
          justify-content: center;
          transform: translateX(-7px);
          color: var(--cl-sim-action);
          font-weight: 800;
        }

        &.type-info {
          margin: 0 5px;
          color: var(--cl-info);

          div {
            border: 1px dashed var(--cl-info);
          }
        }
      }

      .dot {
        font-family: Helvetica;
        height: 0;
        border: 1px dashed var(--cl-checkpoint);
        flex-grow: 1;
        margin: 10px 5px 0 5px;

        &.checked {
          border: 1px dashed var(--cl-success);
        }
      }
    }

    .resetDiv {
      display: flex;
      justify-content: center;
    }

    .reset {
      border: none;
      font-family: sans-serif;
      font-weight: bold;
      width: 200px;
      margin-top: 10px;
    }
  }
}

/*=========================================
    Add-Aircraft.HTML
=========================================== */

/**************** MAIN ****************/

.add-aircraft-page {
  h1 {
    margin: 10px;
    color: var(--text-heading-lighter);
  }

  .addAircraft {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    p {
      margin: 10px 0;
      color: var(--text-primary);
    }
  }

  /* ---- FORM ---- */

  .request-form {
    font-family: Roboto, Helvetica, sans-serif;

    label {
      font-family: Roboto, Helvetica, sans-serif;
      display: block;
      font-size: 0.8rem;
      padding-top: 0.2rem;
      color: var(--text-primary);
    }

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    select,
    textarea {
      display: block;
      width: 100%;
      margin: 0.1rem 0 1rem 0;
      padding: 0.3rem;
      border: 1px solid var(--border-color-secondary);
      border-radius: 4px;
      border-right-width: 0.5rem;
      font-size: 1rem;
      color: var(--text-button);
    }

    input[type='text'],
    input[type='email'],
    select,
    input[type='tel'] {
      height: 44px;
    }

    & input:required,
    & fieldset:has(input:required:invalid) {
      border-right-color: #c50000;
    }
    & input:focus,
    & textarea:focus,
    & fieldset:focus-within {
      border-right-color: var(--nav-hover);
      outline: none;
    }
    & input:required:valid,
    & fieldset:has(input:required:valid) {
      border-right-color: var(--c-green);
    }

    & div {
      display: flex;
      justify-content: center;
    }

    input[type='submit'] {
      border: none;
      padding: 0.8rem 2rem;
      font-family: sans-serif;
      font-weight: bold;
      width: 200px;
    }
  }
}

/*=========================================
        *** SCREEN LARGE ***
=========================================== */
@media screen and (min-width: 768px) {
  /**************** SITE ****************/
  .cardTitle {
    height: 44px;
    font-size: 1.5rem;
  }

  /**************** HEADER ****************/
  header {
    grid-template-columns: 60px auto auto;

    img {
      margin: 5px 0 5px 20px;
    }

    span {
      margin: 5px 0 5px 25px;
    }
  }

  /**************** HAMBURGER ****************/
  .hamburger {
    display: none;
  }

  /**************** NAVIGATION ****************/
  .navigation {
    display: block;
    background-color: transparent;
    justify-items: right;
    width: 100%;
    border-top: transparent;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;

    ul {
      display: flex;
      margin-right: 20px;
      gap: 20px;
    }

    li {
      min-width: 100px;
      background-color: var(--nav-bg);
      width: 130px;
    }

    a {
      text-align: center;

      &:hover {
        background-color: var(--nav-hover);
        color: var(--nav-text);
      }
    }
  }

  /**************** FOOTER ****************/
  footer {
    flex-direction: row;
    padding: 0 20px;

    /* REVIEW THIS */
    /* .footer-info, .footer-date {
          justify-content: left;
        } */

    .footer-info {
      flex: 1;
      justify-content: left;
    }

    .footer-date {
      flex: 1;
      justify-content: right;
    }
  }

  /*=========================================
        Home.HTML
    =========================================== */

  /**************** MAIN ****************/

  .home-page {
    h1 {
      margin: 20px;
    }

    .cta {
      right: 20px;
      bottom: 20px;
    }

    .hero {
      img {
        width: 100%;
      }
    }

    .welcomeLastflight {
      margin: 20px;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .choose {
      margin: 20px;

      .chooseDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        .buttons {
          width: 48.25%;

          p {
            /* font-family: Doto, Arial, Helvetica, sans-serif; */
            font-weight: 700;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  /*=========================================
      Checklist.HTML
  =========================================== */

  /**************** MAIN ****************/

  .checklist-page {
    h1 {
      margin: 20px;
    }

    h2 {
      margin: 20px;
    }

    & > label {
      margin-left: 20px;
    }

    .chekclistMainDiv {
      margin: 20px auto;
      max-width: 1000px;
      /* gap: 20px; */
    }

    .resetAll {
      margin: 15px 15px 0 15px;
    }

    .categoryTitleDiv {
      display: grid;
      grid-template-columns: 1fr 29px;
      padding: 0 20px;
      margin-top: 15px;
    }

    /* ---- BUTTON ---- */
    .categoryButton {
      height: 29px;
      width: 29px;
      padding: 0;
      margin: 0;
      color: var(--text-primary);
      font-size: 2rem;
    }

    .checklistDiv {
      padding: 20px;

      /*============= CHECKLIST ITEMS ============= */

      .checklistItem {
        grid-template-columns: 58px 1fr;

        .check {
          border: 2px solid var(--cl-checkpoint);
          width: 38px;
          height: 38px;

          .checkIcon {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 38px;
            width: 38px;
            color: var(--cl-success);
            font-size: 3rem;

            &.checked::before {
              font-family: 'Material Symbols Outlined';
              content: '\e5ca';
            }
          }
        }

        .item {
          font-size: 1.1rem;
          font-weight: 600;

          &.type-info {
            margin: 0 20px;
          }

          &.type-sim-action {
            transform: translateX(-29px);
          }
        }
      }
    }
  }

  /*=========================================
      Add-Aircraft.HTML
  =========================================== */

  /**************** MAIN ****************/

  .add-aircraft-page {
    h1 {
      margin: 20px;
    }

    .addAircraft {
      margin: 20px auto;
      max-width: 570px;
      gap: 20px;
    }
  }

  /* ============================*/
  /* FIM DO @MEDIA SCREEN LARGE  */
  /* ============================*/
}
