<div class="footer-info">
  <p>©<span id="currentyear"></span> Marcelo Severo Patricio</p>
</div>
<div class="social">
  <a href="https://www.linkedin.com/in/methododev/" target="_blank"
    ><img
      id="link"
      src="images/logos/linkedin.svg"
      alt="linkedin"
      width="16"
      height="16"
  /></a>
  <a href="https://github.com/methodoti/" target="_blank"
    ><img src="images/logos/github.svg" alt="github" width="16" height="16"
  /></a>
  <a href="https://www.facebook.com/methodo" target="_blank"
    ><img src="images/logos/facebook.svg" alt="facebook" width="16" height="16"
  /></a>
  <!-- <a href="https://x.com/methodoti" target="_blank"><img src="images/twitter-x.svg" alt="twitter" width="16" height="16"></a> -->
</div>
<div class="footer-date">
  <p>Last Modification: <span id="lastModified"></span></p>
</div>
