<img src="images/logo.svg" alt="Site Logo" width="1" height="1" />
<span>Virtual Checklist</span>
<nav id="nav-bar" class="navigation">
  <ul>
    <li class="current"><a href="./index.html">Home</a></li>
    <li><a href="./checklist.html">Checklist</a></li>
    <li><a href="./add-aircraft.html">Add Aircraft</a></li>
    <!-- <li><a href="#">Discover</a></li> -->
  </ul>
</nav>
<!-- <button id="nav-theme" class="theme" aria-label="theme"></button> -->
<button id="nav-button" class="hamburger" aria-label="navigation"></button>
